// Colors


// Material colors
$primary-color:        #0080a0;
$primary-color-dark:   #0d47a1 !default;
$leftplayer-color:   #44B3C2;
$rightplayer-color:   #E45641;
$secondary-color:      #d22d16;
$secondary-color-dark: #9933cc !default;
$default-color:        #2bbbad !default;
$default-color-dark:   #00695c !default;
$info-color:           #33b5e5 !default;
$info-color-dark:      #0099cc !default;
$success-color:        #00c851 !default;
$success-color-dark:   #007e33 !default;
