
@mixin gradient-header-footer(){
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$primary-color+0,008080+66,008080+100 */
  background: $primary-color; /* Old browsers */
  background: -moz-linear-gradient(15deg, $primary-color 0%, $primary-color 50%, #008080 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(15deg, $primary-color 0%, $primary-color 50%, #008080 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(15deg, $primary-color 0%, $primary-color 50%, #008080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-color, endColorstr='#008080', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
